body
{
  margin:0;
}

.container
{
 margin: 0;
 width: 100%;
 height: 100%;
 position: absolute;
}

.nav
{
  background-color: #f44242;
  width: 100%;
  position: absolute;
}

h1
{
  color: white;
  padding-left: 30px;
  padding-top: 0px;
}

ul
{
    list-style-type: none;
    margin-top: -50px;
    float: right;
}
ul li
{
  display: inline;



}
li a
{
  color: white;
  float: right;
  font-family: "sans-serif";
  font-size: 16px;
  padding-left: 15px;
  margin-right: 30px;
  text-decoration: none;
}

a:hover
{
  color: #2c7acb;
  background-color: #def;
  height: 100%;

}

.coverpic
{
  width: 100%;
  height: 85%;
  margin-top: 80px;
  display: inline-block;
}

img
{
  width: 100%;
  height: 100%;
}

#favcity
{
  background-color: white;
  margin-top: -21px;
  height: 100%;
}

#divtext
{
  color: #f44242;
  font-family: "sans-serif";
  font-size: 38px;
  text-align: center;
  margin-top: 50px;
}


.nyc
{
  height: 100%;
  border-radius: 400px;
  margin-left: 60px;
  margin-top: auto;
}

.nyctext
{
  float: right;
  display: inline;
  margin-left: 400px;
  margin-top: 100px;
  position: absolute;

}
#nycpic
{
  float: left;
  display: inline;
  max-width: 350px;
  max-height: 350px;
  border-radius: 400px;
  margin-left: : 60px;
  margin-top: 30px;
  position: absolute;
}


h3
{
    color: #f44242;
    font-family: "sans-serif";
    font-size: 24px;
    text-align: left;
}

p
{
  color: #f44242;
  font-family: "sans-serif";
  font-size: 16px
}

#divlang
{
  background-color: #2c7acb;
  width: 100%;
  height: 65%;
  margin-top: -150px;
  position: absolute;
}

#fortext
{
  color: white;
  font-family: "sans-serif";
  font-size: 38px;
  text-align: center;
}

table
{
  border: 4px solid white;
  margin-top: 75px;
  margin-left: 250px;
  margin-right: 200px;

}

thead
{
  background-color: white;
  margin: 50px;

}

th
{
  color: #2c7acb;
  font-family: "sans-serif";
  font-size: 18px;
  padding: 5px;
  border: 2px solid white;
}

td
{
  color: white;
  font-family: "sans-serif";
  font-size: 16px;
  padding: 5px;
  border: 2px solid white;
}

#historicdiv
{
  background-color: white;
  width: 100%;
  height: 110%;
}

#historictext
{
  color: #2c7acb;
  font-family: "sans-serif";
  font-size: 38px;
  text-align: center;
  margin-top: 330px;
}

#leftpic
{
  float: left;
  max-width: 400px;
  max-height: 300px;
  margin-top: 100px;
  margin-left: 75px;
}

#portshead
{
  font-family: "sans-serif";
  float: right;
  color: #2c7acb;
  font-size: 24px;
  margin-right: 500px;
  margin-top: 140px;
}

#portstext
{
  font-family: "sans-serif";
  float: left;
  color: #2c7acb;
  margin-top: -5px;
  float: right;
  display: inline;
  margin-left: 550px;
  margin-top: -200px;
}


#africanhead
{
  font-family: "sans-serif";
  color: #2c7acb;
  float: left;
  display: inline;
  float: left;
  margin-left: 80px;
  margin-top: 200px;
}

#africantext
{
  font-family: "sans-serif";;
  display: inline;
  float: left;
  color: #2c7acb;
  margin-left: 80px;
  margin-right: 600px;
  margin-top: 0px;
}

#rightpic
{
  float: right;
  max-width: 400px;
  max-height: 300px;
  margin-top: -260px;
  margin-right: 75px;
}

#clockpic
{
  float: left;
  max-width: 300px;
  max-height: 400px;
  transform: rotate(90deg);
  margin-left: 125px;
  margin-top: 100px;
}

#clockhead
{
  font-family: "sans-serif";
  float: right;
  color: #2c7acb;
  font-size: 24px;
  margin-right: 550px;
  margin-top: 200px;
}

#clocktext
{
  font-family: "sans-serif";
  float: right;
  color: #2c7acb;
  font-size: 16px;
  margin-left: 570px;
  margin-top: -210px;
}
